@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap");

html {
  font-size: 10px;
  font-family: "Poppins";
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

nav {
  display: flex;
}

header {
  padding: 0 15em;
  position: fixed;
  width: 100%;
  top: 0;
  background: #007bfe;
  z-index: 99;
}

nav {
  display: flex;
}

.logo {
  flex-grow: 1;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.7em 0 0.5em 0;
}

.menu-nav {
  flex-grow: 1;
  display: flex;
  flex-basis: 30%;
  padding-top: 1.3em;
}

.menu-nav .menu-list {
  list-style: none;
}

.menu-nav .menu-list li {
  display: inline-block;
}

.menu-nav .menu-list li a {
  color: #fff;
  text-decoration: none;
  padding: 0 1em;
  font-size: 1.4rem;
}

.cta-btn {
  margin-top: 0.2em;
  margin-left: 1em;
}

.btn-hover {
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 1.2em 3.4em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:nth-child(1) {
  padding: 0.8em 3em;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: translateY(20%);
}

.base-gradient {
  background-color: #fff;
  color: #007bfe;
  font-size: 1.3rem;
}

/* Section .::. Header */

.container #header {
  background-image: url("../img/header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#header .title-main-header {
  margin: 13em 15em 0 15em;
  flex-basis: 85%;
}

.title-main-header h3.text-school {
  font-size: 4rem;
  line-height: 40pt;
  letter-spacing: 2pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 1.5em 0 0.5em 0;
}

.title-main-header p.text-description {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 2em;
}

.img-header {
  margin-right: 15em;
  margin-top: -2em;
}

.img-header img {
  width: 100%;
  height: 100%;
}

/* Section .::. Tata Cara */

.container #tata-cara {
  padding: 0 2em 2em 2em;
  display: flex;
  margin-top: 4em;
  flex-direction: column;
  justify-content: center;
}

.title-header {
  text-align: center;
}

.title-header .text-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-bottom: 0.5em;
}

.title-header span {
  max-width: 1em;
  font-size: 1.2rem;
  text-align: center;
  color: #909090;
}

.container #tata-cara .content {
  display: flex;
  justify-content: center;
  margin: 3em 15em;
  margin: auto;
}

.card {
  margin: 5em 0 10em 0;
  width: 25em;
}

.card .card-image {
  text-align: center;
}

.card .card-body {
  padding: 1em 0;
}

.card__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #434343;
}

.card__description {
  padding: 2em;
  line-height: 2.2em;
  font-size: 1.2rem;
  text-align: center;
}

#cta-website {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(270deg, #00d2ff 0%, #0072ff 100%);
  height: 22em;
  padding: 0 15em;
  margin-bottom: 15em;
}

#cta-website .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cta-website .right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cta-website .left-side .text-attention {
  width: 490px;
  color: #fff;
  font-size: 2.2rem;
}

.about {
  margin: 0 15em;
  display: flex;
}

.about article {
  font-size: 1.3rem;
  margin-left: 2.5em;
}

.about article p:nth-child(1) {
  margin: 3em 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(270deg, #00d2ff 0%, #0072ff 100%);
  height: 22em;
  padding: 7.5em 15em;
  margin-top: 15em;
  margin-bottom: 0em;
}

.contact .judul-contact {
  font-size: 2.4rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.contact .text-description {
  color: #fff;
  margin-top: 0.4em;
  font-size: 1.2rem;
}

.contact .nomer-text {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

.contact p:nth-child(3) {
  margin-top: 4em;
}

/* maps */

.mapContainer {
  position: relative;
  height: 40em;
  width: 80%;
  margin: 3em auto 1em auto;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* end maps */

footer {
  text-align: center;
  padding: 0.5em 0;
  font-size: 1.2rem;
  background: #1f80e8;
  color: #fff;
}

.menu-responsive {
  display: none;
}

/* RESPONSIVE QUERY */

@media screen and (max-width: 580px) {
  html {
    overflow-x: hidden;
    font-size: 9px;
  }
  .menu-link {
    display: none;
  }

  header {
    width: 100%;
    padding: 0 4em;
  }

  .logo {
    flex-grow: 2;
  }
  .menu-nav {
    flex-grow: 1;
  }

  .btn-hover {
    margin-right: 5em;
  }

  .logo img {
    width: 45px;
    height: 45px;
  }

  #tata-cara .content {
    flex-direction: column !important;
  }

  #header {
    flex-direction: column;
    background-image: none !important;
    background: #007bfe;
    height: 60vh !important;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  #header .title-main-header {
    margin: 9em 4em;
  }

  #header .title-main-header .text-description {
    font-size: 1.2rem;
  }

  #header .title-main-header .text-school {
    font-size: 2.5rem;
    line-height: normal;
  }

  .img-header {
    display: none;
  }

  #cta-website {
    padding: 0 4em;
    flex-direction: column;
  }

  .right-side,
  .left-side {
    display: inline !important;
  }

  .left-side {
    margin-top: 2em !important;
  }

  .right-side {
    margin-top: -0em !important;
    margin: auto;
    margin-right: 2em;
  }

  .text-attention {
    font-size: 1.6rem !important;
    text-align: center;
    width: auto !important;
  }

  .about {
    margin: 0 4em !important;
    flex-direction: column;
  }

  .about figure {
    margin-top: 5em;
  }

  .contact {
    padding: 5em 4em;
  }

  .about img {
    width: 100% !important;
    height: 100% !important;
  }
}

/* END RESPONSIVE QUERY */
